@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700;9..144,800;9..144,900&family=Montserrat:wght@500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white: #ffffff;
    --darkgrey: #747682;
    --mediumlightgrey: #707176;
    --darkgreen: hsl(158, 42%, 18%);
    --green: hsl(158, 36%, 37%);
    --black: hsl(212, 21%, 14%);
    --bluishblack: #242A31;
    --cream: hsl(30, 38%, 92%);
 }

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--cream);
}

.card-container{
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    width: 335px;
    height: 600px;
    border-radius: 10px;
    /*margin: 140px 0;*/
}



.image-content{
    height: 239px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-image: url("./images/image-product-mobile.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.full-content{
    display: flex;
    flex-direction: column;
    padding: 18px;
    gap: 16px;  
}

.top-content h2{
    font-family: 'Montserrat', serif;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.5em;
    color: var(--mediumlightgrey);
    padding-bottom: 10px;
}

.top-content h1{
    font-family: 'Fraunces', serif;
    color: var(--bluishblack)
}

.paragraph p{
    font-family: 'Montserrat', serif;
    font-size: 14px;
    color: var(--darkgrey);
}

.amount{
    display: inline-flex;
    align-items: center;
    gap: 24px;
}

.correct-val{
    font-family: 'Fraunces', serif;
    font-size: 28px;
    color: var(--green);
}

.strikethrough-val{
    text-decoration: line-through;
    color: var(--darkgrey);
}

button{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: none;
    height: 50px;
    background-color: var(--green);
}

.button a{
    text-decoration: none;
}

.button-pd{
    display: inline-flex;
    gap: 10px;
    color: var(--white);
    font-size: 14px;
    font-weight: 600;
}


@media (min-width: 768px) {
    .card-container{
        width: 600px;
        height: 450px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        border-bottom-left-radius: 10px;
        border-top-left-radius: 10px;
        /*margin: 200px 0;*/
    }

    .image-content{
        width: 100%;
        height: inherit;
        background-image: url("./images/image-product-desktop.jpg");
        border-bottom-left-radius: 10px;
        border-top-left-radius: 10px;
        border-top-right-radius: 0px;
    }

    .full-content{
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        padding: 30px;
        gap: 30px;  
    }
}